# Environment variables
.env
*.env

# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
